@import "./../../css-config/mixins.scss";

.cmainn {
    margin: 20px 0;
    @include md {
        margin: 50px 0;
    }

    .categorieees {
        display: flex;
        flex-flow: wrap;
        gap: 10px;

        .categoryyy {
            position: relative;
            background-color: black;
            width: calc(16% - 41px);
            cursor: pointer;
            overflow: hidden;

            @include md {
                width: calc(16% - 41px);
            }

            img {
                width: 100%;
                display: block;
                transition: all ease 0.3s;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1; /* Show the overlay by default */
                transition: opacity 0.3s;

                .title {
                    color: white;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }
    }
}
